* {
  font-family: Helvetica Neue, Arial, sans-serif;
}

body {
  margin: 20px;
}

table td {
  padding: 10px;
}

table a {
  color: #000;
  text-decoration: none;
}

table a:visited {
  color: #000;
}

table tr:nth-child(1) td {
  border-bottom: 1px solid #999;
}

table tr:nth-child(3) td {
  border-top: 1px solid #999;
}


table tr td:nth-child(1) {
  border-right: 1px solid #999;
}

table tr td:nth-child(3) {
  border-left: 1px solid #999;
}
